body{
  background-color: #c0c0c0;
}

h1{
  text-shadow: 3px 3px black;
}

h2{
  font-weight: bold;
  color: #00a0a0;
  text-shadow: 1px 1px black;
}

h3{
  font-weight: bold;
  margin-top: 10px;
}

h4{
  font-style: italic;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.jumbotron{
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 2px 2px black;
  background-color: #900090;
  color: #e4deee;
  text-align: center;
  font-family: cursive;
}

.col-md-3{
  background-color: lavender;
}

.col-md-3 p{
  font-style: italic;
}

.col-md-9 .highlight{
  background-color: yellow;
}

.col-md-9 .projectTitle::first-line{
  font-weight: bold;
}

.languages{
  font-style: italic;
  color: #009e73;
}

.well-sm{
  border-style: double;
  border-width: 5px;
  border-color: #808080;
}

.panel-heading{
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel-body p{
  font-size: 15px;
}

.floatImgL{
  float: left;
  height: 70px;
  width: auto;
  margin-right: 10px;
}
.floatImgR{
  float: right;
  height: 70px;
  width: auto;
  margin-right: 10px;
}

#myName{
  font-size: larger;
  color: purple;
}